@model HealthCareClient.Models.Contact.ContactEntity

@{
    ViewBag.Title = "Details";
}
<div>
    <h4>Contact Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.contact.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contact.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contact.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact.Status)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.contact.ID}) |
    @Html.ActionLink("Back to List", "Contacts")
</p>
